body {
    background-color: darkcyan;
}

* {
    color: #e6e6e7;
    margin: 0;
}

.calculator {
    display: none;
    grid-column-gap: 2px;
    position: absolute;
    background-color: #27272f;
    box-sizing: border-box;
    margin: 0;
    align-content: center;
    box-sizing: border-box;
    height: 268px;
    grid-template-rows: repeat(3, 1fr);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calculator-extended {
    width: 460px;
    grid-template-columns: 59% 41%;
    border-radius: 10px;
    gap: 2px;
}

#calculator-standart {
    width: 196px;
    border-radius: 10px;
}

#controlLine > button {
    font-size: xx-small;
    width: 16px;
    height: 16px;
    text-align: center;
    border-style: solid;
    border-radius: 50%;
}

#controlLine {
    width: 100%;
    grid-column: 1/ span 2;
}

#controlLine > button:not(#extended) {
    margin-left: 3px;
    margin-top: 2px;
}

#controlLine > button:not(#close) {
    margin-top: 2px;
}

#close {
    border-color: #5e353a;
    background-color: #ff5f57;
}

#close:active {
    border-color: #5e353a;
    background-color: #cc5f57;
}

#extended {
    background-color: #29c940;
    border-color: #274535;
}

#extended:active {
    background-color: #298640;
    border-color: #274535;
}

#equation {
    float: left;
    text-align: right;
    padding: 5px 10px 5px;
    grid-column: 1/ span 2;
}

#extendedKeypadContainer {
    display: none;
    gap: 2px;
    width: 272px;
    height: 220px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);

    box-sizing: border-box;
    padding: 0 0 10px 10px;
}

#numericKeypadContainer {
    width: 196px;
    height: 220px;
    display: grid;
    gap: 2px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    box-sizing: border-box;
    padding: 0 10px 10px 10px;

}

#numericKeypadContainer > button:not(#id-0), #extendedKeypadContainer > button {
    font-weight: bolder;
    height: 40px;
    width: 42px;
    text-align: center;
    border-style: none;
    box-sizing: border-box;
}

.number {
    background-color: #5b5a5e;
}

.number:active {
    background-color: #9f9ea0;
}

.mathFunction, #extendedKeypadContainer > button {
    background-color: #393940;
}

.mathFunction:active, #extendedKeypadContainer > button:active {
    background-color: #5b5a5e;
}

.mathOperator, #equals {
    background-color: #ff9f0a;
}

.mathOperator:active, #equals:active {
    background-color: #ca7c06;
}

#id-0 {
    width: 86.5px;
    font-weight: bolder;
    height: 40px;
    text-align: center;
    border-style: none;
    box-sizing: border-box;
    grid-column: 1/ span 2;
}

#Coordinate2dContainer {
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: -1;
    position: absolute;
}

.optionButtons {
    margin-bottom: 5px;
    width: 123px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 36px;
    font-size: 10px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.optionButtons:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
.optionButtons:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
.buttonContainer {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 123px;
}